{% extends "layout.html" %}

{% block pageTitle %}
  What it means to be an EPAO
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% import "../../includes/data.html" as financialData %}

{% block content %}
<div class="govuk-width-container">
		<a href="../complete_overview" class="govuk-back-link">Back</a>
		<main class="govuk-main-wrapper" id="main-content" role="main">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<form action="occupational-competence" method="post">
						<div class="govuk-form-group">
							<fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Will you deliver end-point assessments anywhere in England?
                  </h1>
                </legend>

                <div class="govuk-radios" data-module="radios">

                  <!-- yes -->
                  <div        class="govuk-radios__item">
										<input    class="govuk-radios__input"
                              data-aria-controls="conditional-complete_where-deliver-1"
                              id="complete_where-deliver-1"
                              name="complete_where-deliver"
                              {{ checked('complete_where-deliver','yes') }}
                              type="radio"
                              value="yes">
                      <label  class="govuk-label govuk-radios__label"
                              for="complete_where-deliver">
                              Yes
                      </label>
									</div>


                  <!-- no -->
                  <div        class="govuk-radios__item">
										  <input  class="govuk-radios__input"
                              data-aria-controls="conditional-complete_where-deliver-2"
                              id="complete_where-deliver-2"
                              name="complete_where-deliver"
                              {{ checked('complete_where-deliver','no') }}
                              type="radio"
                              value="no">
                      <label  class="govuk-label govuk-radios__label"
                              for="complete_where-deliver">
                              No
                      </label>
									</div>
                  <!-- yes hidden -->
                  <div
                              class="govuk-radios__conditional govuk-radios__conditional--hidden"
                              id="conditional-complete_where-deliver-2">

                              <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="where-deliver-check-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Where in England will you deliver end-point assessments?
      </h1>
    </legend>
    <span id="where-deliver-check-hint" class="govuk-hint">
      Select all that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="where-deliver-check-1" name="where-deliver-check" {{ checked('where-deliver-check','north-east') }} type="checkbox" value="north-east">
        <label class="govuk-label govuk-checkboxes__label" for="where-deliver-check-1">
          North East
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="where-deliver-check-2" name="where-deliver-check" {{ checked('where-deliver-check','north-west') }} type="checkbox" value="north-west">
        <label class="govuk-label govuk-checkboxes__label" for="where-deliver-check-2">
          North West
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="where-deliver-check-3" name="where-deliver-check" {{ checked('where-deliver-check','yorkshire') }} type="checkbox" value="yorkshire">
        <label class="govuk-label govuk-checkboxes__label" for="where-deliver-check-3">
          Yorkshire and The Humber
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="where-deliver-check-3" name="where-deliver-check" {{ checked('where-deliver-check','east-mids') }} type="checkbox" value="east-mids">
        <label class="govuk-label govuk-checkboxes__label" for="where-deliver-check-3">
          East Midlands
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="where-deliver-check-3" name="where-deliver-check" {{ checked('where-deliver-check','west-mids') }} type="checkbox" value="west-mids">
        <label class="govuk-label govuk-checkboxes__label" for="where-deliver-check-3">
          West Midlands
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="where-deliver-check-3" name="where-deliver-check" {{ checked('where-deliver-check','east-of-england') }} type="checkbox" value="east-of-england">
        <label class="govuk-label govuk-checkboxes__label" for="where-deliver-check-3">
          East of England
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="where-deliver-check-3" name="where-deliver-check" {{ checked('where-deliver-check','london') }} type="checkbox" value="london">
        <label class="govuk-label govuk-checkboxes__label" for="where-deliver-check-3">
          London
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="where-deliver-check-3" name="where-deliver-check" {{ checked('where-deliver-check','south-east') }} type="checkbox" value="south-east">
        <label class="govuk-label govuk-checkboxes__label" for="where-deliver-check-3">
          South East
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="where-deliver-check-3" name="where-deliver-check" {{ checked('where-deliver-check','south-west') }} type="checkbox" value="south-west">
        <label class="govuk-label govuk-checkboxes__label" for="where-deliver-check-3">
          South West
        </label>
      </div>
    </div>
  </fieldset>


                              </div>
                	</div>
								</div>

							</fieldset>
						</div><button class="govuk-button" type="submit">Save and continue</button>
					</form>
				</div>
			</div>
			<p class="govuk-body"><a class="govuk-link" href="../complete_overview">Return to questions overview</a></p>
		</main>
	</div>

{% endblock %}
