{% extends "layout.html" %}

{% block pageTitle %}
  Create an EPAO account
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "used-before",
    text: "Back"
  }) }}

  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What you'll need</h1>

    <p class="govuk-body">To set up an account you'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>at least one PAYE scheme</li>
      <li>the Government Gateway login details for your PAYE scheme(s) - ask your payroll department if you don't have access to this information</li>
    </ul>

    <p class="govuk-body"><a href="#" class="govuk-link">Can't find your Government Gateway details?</a></p>

    <a href="setup" role="button" class="govuk-button">
      Continue
    </a>

  </div>

    <div class="govuk-grid-column-one-third">
    </div>
  </div>
{% endblock %}
