{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "/start-page",
    text: "Back"
  }) }}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="setup" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you used this service before?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="used-before-1" name="used-before" {{ checked('used-before','Yes') }} type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="used-before-1">
                Yes, I've used this service before
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="used-before-2" name="used-before" {{ checked('used-before','No') }} type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="used-before-2">
                No, this is my first time
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
