{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "/eligibility_find-organisation",
    text: "Back"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/eligibility_what-employers-see" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select your organisation
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-org-1" name="select-org" type="radio" value="org-1">
              <label class="govuk-label govuk-radios__label" for="select-org-1">
              {{ data['company-name'] }}, 65 Bishopthorpe Road, Ashurst, WR5 9FQ
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-org-2" name="select-org" type="radio" value="org-2">
              <label class="govuk-label govuk-radios__label" for="select-org-2">
              {{ data['company-name'] }}, 88 Prince Consort Road, Kempsey, LL40 6XW
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-org-3" name="select-org" type="radio" value="org-3">
              <label class="govuk-label govuk-radios__label" for="select-org-3">
              {{ data['company-name'] }}, 65 Fosse Way, Ardmenish, PA60 6AE
            </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
