{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Application overview",
        href: "../apply_overview"
      },
      {
        text: "Company details",
        href: "../application_company-details"
      },
      {
        text: "Executive management"
      }
    ]
  }) }}

{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Who has responsibility for the overall executive management of your organisation?</h1>

        <form action="../application_company-details" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="building-street">
              Full name
            </label>
            <input class="govuk-input" id="building-street" name="building-street" type="text" aria-describedby="building-street-hint">
          </div>

          <div class="govuk-form-group">
            <h2 class="govuk-heading-m">Positions held with other organisations</h2>
            <label class="govuk-label govuk-label--s" for="town-city">
              Position 1
            </label>
            <input class="govuk-input govuk-input--width-20" id="town-city" name="town-city" type="text" aria-describedby="town-city-hint">
          </div>

          <div class="govuk-form-group">
            <p class="govuk-body">
              <a href="#" class="govuk-link">
                Add another position
              </a>
            </p>
          </div>
          <button type="submit" class="govuk-button">
            Save and return
          </button>

        </form>
      </div>
    </div>

{% endblock %}
