{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/url/of/previous/page",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
      <form action="/eligibility_what-employers-see" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
					<h1 class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Are you registered with Companies House?</legend></h1><legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
					<div class="govuk-radios" data-module="radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" data-aria-controls="conditional-how-contacted-conditional-1" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email"> <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">Yes</label>
						</div>
						<div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-1">
							<div class="govuk-form-group">
								<label class="govuk-label" for="contact-by-email">Companies House number</label>
                <span class="govuk-hint">
                  <a href="https://beta.companieshouse.gov.uk/search/companies" class="govuk-link">Find your 8 digit Companies House number</a>
                </span>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="text">
							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" data-aria-controls="conditional-how-contacted-conditional-2" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone"> <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">No</label>
						</div>
						<div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-2">
							<div class="govuk-form-group">
								<label class="govuk-label" for="contact-by-phone">Enter a number that can be used to identify your business and provide details of the organisation that issued it.</label>
                <span class="govuk-hint">For example, ‘0123456789, Unique Taxpayer Reference, HMRC, UK’</span>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="text">
							</div>
						</div>
					</div>
				</fieldset>
			</div>
      <button type="submit" class="govuk-button">
        Save and return
      </button>
    </form>
		</div>
	</div>

{% endblock %}
