{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Application overview",
        href: "../apply_overview"
      },
      {
        text: "Company details",
        href: "../application_company-details"
      },
      {
        text: "UKPRN"
      }
    ]
  }) }}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/application_company-details" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="ukprn">
            What’s your UK Provider Registration Number (UKPRN)?
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-20" id="ukprn" name="ukprn" type="text">
      </div>
      <button type="submit" class="govuk-button">
        Save and return
      </button>
    </form>


  </div>
</div>
{% endblock %}
