{% extends "layout.html" %}

{% block pageTitle %}
  Declarations introduction
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "../apply_overview",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Financial health assessment</h1>
      <p class="govuk-body">You must make complete a financial health assessment.</p>

<a href="financial-health_overview" class="govuk-button">
  Start financial health assessment
</a>

    </div>
  </div>
{% endblock %}
