{% extends "layout.html" %}

{% block pageTitle %}
  EPAO application questions
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "/apply_overview",
    text: "Back to application overview"
  }) }}

{% endblock %}

{% import "../includes/data.html" as financialData %}

{% block content %}
<div class="grid-grid-row">
  <div class="govuk-grid-column-two-thirds app-column-minimum">
    <h1 class="govuk-heading-l">Your financial health assessment overview</h1>
    <p>You must answer all the questions.</p>
    <ul class="app-task-list__one-section">
      {% for question in financialData.financials %}
      <li class="app-task-list__item">
        <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="{{question.href}}">{{question.shortTitle}}</a>
        {% if question.name === "financial-year-end-date" %}
          {% if data["financial-year-end-date-day"] and data["financial-year-end-date-month"] and data["financial-year-end-date-year"] %}
            {{ govukTag({ attributes: { id: "eligibility-completed" }, classes: "app-task-list__task-completed", text: "Completed" }) }}
          {% endif %}
        {% elif data[question.name] %}
          {{ govukTag({ attributes: { id: "eligibility-completed" }, classes: "app-task-list__task-completed", text: "Completed" }) }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <p class="govuk-body"><a class="govuk-link" href="../apply_overview">Return to application overview</a></p>
  </div>
  <div class="govuk-clearfix"></div>
</div>
{% endblock %}
