{% extends "layout.html" %}

{% block pageTitle %}
  What it means to be an EPAO
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% import "../../includes/data.html" as financialData %}

{% block content %}
<div class="govuk-width-container">
    <a href="months-covered-by-financials" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="turnover" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have the financial statements been audited?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="audited-financial-statements-1" name="audited-financial-statements" type="radio" value="Yes" {{ checked('audited-financial-statements','Yes') }}>
              <label class="govuk-label govuk-radios__label" for="audited-financial-statements-1">
              Yes
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="audited-financial-statements-2" name="audited-financial-statements" type="radio" value="No" {{ checked('audited-financial-statements','No') }}>
              <label class="govuk-label govuk-radios__label" for="audited-financial-statements-2">
              No
            </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button">
        Save and continue
      </button>
    </form>
    <p class="govuk-body"><a class="govuk-link" href="../financial-health_overview">Return to questions overview</a></p>



  </div>
</div>
</div>

{% endblock %}
