{% extends "layout.html" %}

{% block pageTitle %}
  Failed application
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "../apply_overview",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Failed application</h1>

        <p class="govuk-body">The following page contains an application overview with the questions which need to be updated for your application to be successful.</p>

        <p class="govuk-body">Those questions contain the feedback required which should help you with your application.</p>

        <a href="/5-no-pass/complete_overview_feedback" class="govuk-button">
          Continue to feedback overview
        </a>
    </div>
  </div>
{% endblock %}
