.framework-dashboard {
  .browse-list-item {
    border-top: 1px solid #bfc1c3;
    padding-top: 15px;
    list-style-type: none;
    // @include govuk-media-query($from: tablet) {
    // }

    h2 {
      margin-bottom: 10px;
    }
  }

  ul {
    padding: 0;
  }
}

.app-task-list__task-completed {
  margin-left: 10px;
}

.instruction-list-item-box {
  border: 3px solid #6f777b;
  font-weight: bold;
  color: #6f777b;
  padding: 0.5em 0.75em 0.33em 0.5em;
  display: table;
}

.browse-list-item-status-quiet {
  font-size: 19px;
  font-family: 'nta', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #bfc1c3;
  border-color: #bfc1c3;
  border-left: 5px solid;
  line-height: 1.31579;
  padding-left: 15px;
  margin: 10px 0 0 0;

  .browse-list-item-status-title {
    color: #6f777b;
  }
}

.browse-list-item-link {
  color: red;
}

.filter {
  border: 1px solid $govuk-border-colour;
}

.filter-body {
  padding: 1em;
}

.filter-heading {
  padding: 0.5em 1em;
  background-color: govuk-colour('grey-3');
}
