.app-check-your-answers--spacer  {
  margin: 0 0 3em 0;
}

.govuk-form-group--spacer  {
  margin: 4.5em 0 2.5em 0;
}

.govuk-list--left-bump  {
  margin-left: 20px;
}

.app-questions-list {
  padding-left: 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  font-weight: 700;
}

.app-task-list__one-section {
  padding: 0;
  list-style-type: none;
}
