{% extends "layout.html" %}

{% block pageTitle %}
  What it means to be an EPAO
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% import "../../includes/data.html" as financialData %}

{% block content %}
<div class="govuk-width-container">
    <a href="../complete_overview" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <form action="assessment-types" method="post">

              <div class="govuk-form-group">

                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="complete_assessment-types">
                    What types of end-point assessment you will deliver?
                  </label>
                </h1>

                <input class="govuk-input govuk-input--width-20" id="complete_assessment-types" id="complete_assessment-types" type="text">

              </div>
              <button type="submit" class="govuk-button">
                Save and continue
              </button>

            </form> -->

    {% for question in financialData.complete_standard %}
    <form action="{{question.next_href}}" method="post">
          <div class="govuk-form-group">

            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="{{question.name}}">
                {{data['standard-name']}} assessment plan
              </label>
            </h1>

            <input class="govuk-input govuk-input--width-20" id="{{question.id}}" id="{{question.name}}" type="text">

          </div>
          <button type="submit" class="govuk-button">
            Save and continue
          </button>
        </form>
                {% endfor %}

{% for question in financialData.complete_required_docs %}
        <form action="{{question.next_href}}" method="post">
          <div class="govuk-form-group">

            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="{{question.name}}">
                {{question.longTitle}}
              </label>
            </h1>

            <input class="govuk-input govuk-input--width-20" id="{{question.id}}" id="{{question.name}}" type="text">

          </div>
          <button type="submit" class="govuk-button">
            Save and continue
          </button>
        </form>
        {% endfor %}

{% for question in financialData.complete_capacity_capability %}
        <form action="{{question.next_href}}" method="post">

          <div class="govuk-form-group">

            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="{{question.name}}">
                {{question.longTitle}}
              </label>
            </h1>

            <input class="govuk-input govuk-input--width-20" id="{{question.id}}" id="{{question.name}}" type="text">

          </div>
          <button type="submit" class="govuk-button">
            Save and continue
          </button>

        </form>
        {% endfor %}


        <p class="govuk-body"><a class="govuk-link" href="../complete_overview">Return to questions overview</a></p>
  </div>
</div>
</div>

{% endblock %}
