{% extends "layout.html" %}

{% block pageTitle %}
  Declarations introduction
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "..//apply_overview",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Make your declaration</h1>
      <p class="govuk-body">You must make the declaration to confirm you’re eligible to provide end-point assessments and be added to the <a href="https://www.gov.uk/guidance/register-of-end-point-assessment-organisations" target="_blank" class="govuk-link">register of end-point assessment organisations</a> (link opens in a new tab).</p>

<p class="govuk-body">You can come back and change your answers before you submit the application.</p>

<p class="govuk-body">After the application is submitted, the Education and Skills Funding Agency will review your answers and let you know if your application has been successful.</p>

<a href="/declarations/declarations_overview" class="govuk-button">
  Start your declaration
</a>

    </div>
  </div>
{% endblock %}
