{% extends "layout.html" %}

{% block pageTitle %}
  What it means to be an EPAO
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% import "../../includes/data.html" as financialData %}

{% block content %}
<div class="govuk-width-container">
    <a href="../complete_overview_feedback" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text">
      <h2 class="govuk=heading-l">Feedback:</h2>
      <span class="govuk-!-font-size-24">You must tell us about your end-point assessment process.</span>
    </div>
    <form action="../complete_overview_feedback" method="post">
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Your complete end-point assessment process
              </h1>
            </legend>

            <p class="govuk-body">You must be able to truthfully answer ‘yes’ to every question on this page for your application to be considered eligible. If you can’t answer ‘no’, your application may not be accepted.</p>
            <p class="govuk-body">If you do answer ‘no’, you must provide full details of the actions you will take and the processes you will implement for each area you currently do not have the capacity and capability to provide as part of a complete end-point assessment. ESFA will use the information you provide to consider whether or not you will be able to proceed any further with this application.</p>


            <h2 class="govuk-heading-m">
              Do you currently have the capacity and capability to deliver the following as part of a complete end-point assessment process?
            </h2>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_resources-for-candidates-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Access to appropriate resources for candidates (materials, equipment and/or facilities)
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_resources-for-candidates-1" name="feedback_resources-for-candidates" type="radio" value="yes" {{ checked("feedback_resources-for-candidates", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_feedback_resources-for-candidates-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_resources-for-candidates-2" name="feedback_resources-for-candidates" type="radio" value="no" {{ checked("feedback_resources-for-candidates", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_feedback_resources-for-candidates-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_administration-of-assessment-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Administration of assessment
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_administration-of-assessment-1" name="feedback_administration-of-assessment" type="radio" value="yes" {{ checked("feedback_administration-of-assessment", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_administration-of-assessment-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_administration-of-assessment-2" name="feedback_administration-of-assessment" type="radio" value="no" {{ checked("feedback_administration-of-assessment", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_administration-of-assessment-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_development-assessment-products-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Development of assessment products and tools
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_development-assessment-products-1" name="feedback_development-assessment-products" type="radio" value="yes" {{ checked("feedback_development-assessment-products", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_development-assessment-products-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_development-assessment-products-2" name="feedback_development-assessment-products" type="radio" value="no" {{ checked("feedback_development-assessment-products", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_development-assessment-products-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_appropriate-content-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Appropriate content and level of demand of assessment
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_appropriate-content-1" name="feedback_appropriate-content" type="radio" value="yes" {{ checked("feedback_appropriate-content", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_appropriate-content-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_appropriate-content-2" name="feedback_appropriate-content" type="radio" value="no" {{ checked("feedback_appropriate-content", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_appropriate-content-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_arrangements-special-consideration-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Arrangements for special consideration and adjustment for candidates where appropriate (to support candidates with particular needs and/or requirements)
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_arrangements-special-consideration-1" name="feedback_arrangements-special-consideration" type="radio" value="yes" {{ checked("feedback_arrangements-special-consideration", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_arrangements-special-consideration-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_arrangements-special-consideration-2" name="feedback_arrangements-special-consideration" type="radio" value="no" {{ checked("feedback_arrangements-special-consideration", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_arrangements-special-consideration-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_assessment-guidance-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Assessment guidance for candidates
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_assessment-guidance-1" name="feedback_assessment-guidance" type="radio" value="yes" {{ checked("feedback_assessment-guidance", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_assessment-guidance-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_assessment-guidance-2" name="feedback_assessment-guidance" type="radio" value="no" {{ checked("feedback_assessment-guidance", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_assessment-guidance-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_ensure-access-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Ensure access to assessment for candidates
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_ensure-access-1" name="feedback_ensure-access" type="radio" value="yes" {{ checked("feedback_ensure-access", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_ensure-access-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_ensure-access-2" name="feedback_ensure-access" type="radio" value="no" {{ checked("feedback_ensure-access", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_ensure-access-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_verification-apprentice-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Verification apprentice meets any requirements for end-point assessment
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_verification-apprentice-1" name="feedback_verification-apprentice" type="radio" value="yes" {{ checked("feedback_verification-apprentice", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_verification-apprentice-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_verification-apprentice-2" name="feedback_verification-apprentice" type="radio" value="no" {{ checked("feedback_verification-apprentice", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_verification-apprentice-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_marking-and-certification-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Marking and certification of results of assessment
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_marking-and-certification-1" name="feedback_marking-and-certification" type="radio" value="yes" {{ checked("feedback_marking-and-certification", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_marking-and-certification-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_marking-and-certification-2" name="feedback_marking-and-certification" type="radio" value="no" {{ checked("feedback_marking-and-certification", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_marking-and-certification-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_collation-of-outcomes-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Collation of outcomes of end-point assessment and confirmation that final certification can be issued
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_collation-of-outcomes-1" name="feedback_collation-of-outcomes" type="radio" value="yes" {{ checked("feedback_collation-of-outcomes", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_collation-of-outcomes-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_collation-of-outcomes-2" name="feedback_collation-of-outcomes" type="radio" value="no" {{ checked("feedback_collation-of-outcomes", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_collation-of-outcomes-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_transfer-of-information-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Liaison with and transfer of information so the ESFA can issue the apprenticeship achievement certificate
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_transfer-of-information-1" name="feedback_transfer-of-information" type="radio" value="yes" {{ checked("feedback_transfer-of-information", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_transfer-of-information-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_transfer-of-information-2" name="feedback_transfer-of-information" type="radio" value="no" {{ checked("feedback_transfer-of-information", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_transfer-of-information-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_registration-of-candidates-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Registration of candidates
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_registration-of-candidates-1" name="feedback_registration-of-candidates" type="radio" value="yes" {{ checked("feedback_registration-of-candidates", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_registration-of-candidates-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_registration-of-candidates-2" name="feedback_registration-of-candidates" type="radio" value="no" {{ checked("feedback_registration-of-candidates", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_registration-of-candidates-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_reporting-issuing-results-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Reporting and issuing of results
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_reporting-issuing-results-1" name="feedback_reporting-issuing-results" type="radio" value="yes" {{ checked("feedback_reporting-issuing-results", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_reporting-issuing-results-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_reporting-issuing-results-2" name="feedback_reporting-issuing-results" type="radio" value="no" {{ checked("feedback_reporting-issuing-results", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_reporting-issuing-results-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_it-infrastructure-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Secure IT infrastructure
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_it-infrastructure-1" name="feedback_it-infrastructure" type="radio" value="yes" {{ checked("feedback_it-infrastructure", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_it-infrastructure-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_it-infrastructure-2" name="feedback_it-infrastructure" type="radio" value="no" {{ checked("feedback_it-infrastructure", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_it-infrastructure-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_security-of-assessment-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Security of assessment
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_security-of-assessment-1" name="feedback_security-of-assessment" type="radio" value="yes" {{ checked("feedback_security-of-assessment", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_security-of-assessment-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_security-of-assessment-2" name="feedback_security-of-assessment" type="radio" value="no" {{ checked("feedback_security-of-assessment", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_security-of-assessment-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="feedback_exempt-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-s">
                    Exempt
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_exempt-1" name="feedback_exempt" type="radio" value="yes" {{ checked("feedback_exempt", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_exempt-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="feedback_exempt-2" name="feedback_exempt" type="radio" value="no" {{ checked("feedback_exempt", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="feedback_exempt-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <h3 class="govuk-heading-s">
                If you responded ‘no’ to any of the questions on this page, please provide details of any mitigating factors that you think should be taken into consideration.
              </h3>
              <textarea class="govuk-textarea" id="feedback_more-detail" name="feedback_more-detail" rows="5" aria-describedby="more-detail-hint">{{ data["feedback_more-detail"] }}</textarea>
            </div>



          </div>
          <button type="submit" class="govuk-button">
            Save and continue
          </button>

        </form>
        <p class="govuk-body"><a class="govuk-link" href="../complete_overview">Return to questions overview</a></p>
  </div>
</div>
</div>

{% endblock %}
