{% extends "layout.html" %}

{% block pageTitle %}
What it means to be an EPAO
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% import "../../includes/data.html" as financialData %}

{% block content %}

<div class="govuk-width-container">
  <a href="../complete_overview_feedback" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text">
          <h2 class="govuk=heading-l">Feedback:</h2>
          <span class="govuk-!-font-size-24">You must provide us an in-date safeguarding policy. The one submitted
            previously expired on 3 March 2017</span>
        </div>
        <form action="../complete_overview_feedback" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you have a safeguarding policy?
                </h1>
              </legend>
              <p class="govuk-body">It’s a requirement that your organisation has a safeguarding policy in place to
                ensure the welfare of the apprentices you’re assessing.</p>


              <div class="govuk-radios" data-module="radios">

                <!-- yes -->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="conditional-feedback_complete_safeguarding-policy-1" id="feedback_complete_safeguarding-policy-1"
                    name="feedback_complete_safeguarding-policy" {{ checked('feedback_complete_safeguarding-policy','yes') }} type="radio"
                    value="yes">
                  <label class="govuk-label govuk-radios__label" for="feedback_complete_safeguarding-policy">
                    Yes
                  </label>
                </div>

                <!-- yes hidden -->
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-feedback_complete_safeguarding-policy-1">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="file-upload-1">
                      Upload a copy of your safeguarding policy
                    </label>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                  </div>
                </div>

                <!-- no -->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="conditional-feedback_complete_safeguarding-policy-2" id="feedback_complete_safeguarding-policy-2"
                    name="feedback_complete_safeguarding-policy" {{ checked('feedback_complete_safeguarding-policy','no') }} type="radio"
                    value="no">
                  <label class="govuk-label govuk-radios__label" for="feedback_complete_safeguarding-policy">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div><button class="govuk-button" type="submit">Save and continue</button>
        </form>
      </div>
    </div>
    <p class="govuk-body"><a class="govuk-link" href="../complete_overview">Return to questions overview</a></p>
  </main>
</div>

{% endblock %}