{% extends "layout.html" %}

{% block pageTitle %}
  What it means to be an EPAO
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% import "../../includes/data.html" as financialData %}

{% block content %}
<div class="govuk-width-container">
    <a href="intangible-assets" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../financial-health_overview" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Does your organisation have a parental guarantee?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parental-guarantee-1" name="parental-guarantee" type="radio" value="Yes" {{ checked('parental-guarantee','Yes') }}>
              <label class="govuk-label govuk-radios__label" for="parental-guarantee-1">
              Yes
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parental-guarantee-2" name="parental-guarantee" type="radio" value="No" {{ checked('parental-guarantee','No') }}>
              <label class="govuk-label govuk-radios__label" for="parental-guarantee-2">
              No
            </label>
            </div>
          </div>
        </fieldset>
      </div>
          <button type="submit" class="govuk-button">
            Save and continue
          </button>
        </form>
        <p class="govuk-body"><a class="govuk-link" href="../financial-health_overview">Return to questions overview</a></p>
  </div>
</div>
</div>

{% endblock %}
