{% extends "layout.html" %}

{% block pageTitle %}
  What it means to be an EPAO
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% import "../../includes/data.html" as financialData %}

{% block content %}
<div class="govuk-width-container">
    <a href="audited-financial-statements" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="depreciation-and-amortisation" method="post">
          <div class="govuk-form-group">

            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="turnover">
                Total turnover
              </label>
            </h1>

            <input class="govuk-input govuk-input--width-20" id="turnover" name="turnover" value="{{ data['turnover'] }}" type="text">
          </div>
          <button type="submit" class="govuk-button">
            Save and continue
          </button>
        </form>
  </div>
</div>
</div>

{% endblock %}
