{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}


{% endblock %}

{% block content %}
<div class="govuk-grid-row framework-dashboard">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Application overview</h1>

			<ul>
        {% if data['director-name'] and data['responsible-name'] and data['group-companies']
        and data['organisation-type'] and data['company-classification'] and data['ukprn'] and data['company-classification'] %}
        <li class="browse-list-item">
          {{ govukTag({
            attributes: { id: "eligibility-completed" },
            classes: "app-task-list__task-completed",
            text: "Completed"
          }) }}
          <h2 class="govuk-heading-m">
            <a class="browse-list-item-link" href="/application_company-details">1. Enter your company details</a>
          </h2>
        </li>
        {% else %}
        <li class="browse-list-item">
          <h2 class="govuk-heading-m">
            <a class="browse-list-item-link" href="/application_company-details">1. Enter your company details</a>
          </h2>


          <div class="browse-list-item-status-quiet">
            <p class="browse-list-item-status-title">You must add your organisation’s details</p>
          </div>

          <h2 class="govuk-heading-s">You need your:</h2>

          <ul class="govuk-list govuk-list--bullet govuk-list--left-bump">
            <li>Company Registration Number/Charity Number</li>
            <li>UKPRN</li>
            <li>Organisational information</li>
          </ul>

        </li>

        {% endif %}

        {% if data['director-name'] and data['responsible-name'] and data['group-companies']
        and data['organisation-type'] and data['company-classification'] and data['ukprn'] and data['company-classification'] %}
        <li class="browse-list-item">
          <h2 class="govuk-heading-m">
            <a class="browse-list-item-link" href="declarations/declarations_intro">2. Make declaration</a>
          </h2>
          <div class="browse-list-item-status-quiet">
            <p class="browse-list-item-status-title">You must complete the declarations</p>
          </div>
        </li>
        {% else %}
        <li class="browse-list-item">
          <h2 class="govuk-heading-m">2. Make declaration</h2>
          <p class="instruction-list-item-box inactive">Can't start yet</p>
        </li>
        {% endif %}

        {% if data['director-name'] and data['responsible-name'] and data['group-companies']
        and data['organisation-type'] and data['company-classification'] and data['ukprn'] and data['company-classification'] %}
        <li class="browse-list-item">
          <h2 class="govuk-heading-m">
            <a class="browse-list-item-link" href="#">3. Add, edit and complete financial health assessment</a>
          </h2>
          <div class="browse-list-item-status-quiet">
            <p class="browse-list-item-status-title">You must add your financial health information</p>
          </div>
          <h2 class="govuk-heading-s">You need your:</h2>
            <ul class="govuk-list govuk-list--bullet govuk-list--left-bump">
              <li>Full financial statements</li>
            </ul>
        </li>
        {% else %}
        <li class="browse-list-item">
					<h2 class="govuk-heading-m">3. Add, edit and complete financial health assessment</h2>
          <p class="instruction-list-item-box inactive">Can't start yet</p>
          <h2 class="govuk-heading-s">You need your:</h2>
            <ul class="govuk-list govuk-list--bullet govuk-list--left-bump">
              <li>Full financial statements</li>
            </ul>
				</li>
        {% endif %}

        <li class="browse-list-item">
					<h2 class="govuk-heading-m">4. Add, edit and complete application to assess {{ data['eligibility-standard'] }}</h2>
          <p class="instruction-list-item-box inactive">Can't start yet</p>


          <h2 class="govuk-heading-s">You need your:</h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--left-bump">
              <li>Evidence of your occupational and assessment capacity</li>
            </ul>

          </li>
			</ul>

    <br>

      <h2 class="govuk-heading-m">Guidance</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Read about how to apply</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Legal documents</h2>
      <ul class="govuk-list">
        <li>
          <p class="govuk-body">
            <a class="govuk-link" href="#">
              Download the 'Conditions for organisations on the register of end-point assessment organisations'
            </a>
          </p>
          <p class="govuk-body">Read the proposed agreement between the Education and Skills Funding Agency (ESFA) and end-point assessment organisations (EPAOs).
          <span class="govuk-hint">Last updated Wednesday 18 July 2018</span></p>
        </li>
      </ul>

		</div>
	</div>



    <!-- <li class="browse-list-item">
      <h2>2. Make supplier declaration</h2>
      <p class="instruction-list-item-box inactive">Can't start yet</p>
    </li>
    <li class="browse-list-item">
      <h2>3. Add, edit and complete services</h2>
      <p class="instruction-list-item-box inactive">Can't start yet</p>
    </li> -->

</div>
</div>

{% endblock %}
