{% extends "layout.html" %}

{% block pageTitle %}
  Application successful
{% endblock %}

{# {% block beforeContent %}
  {{ govukBackLink({
    href: "../apply_overview",
    text: "Back"
  }) }}
{% endblock %} #}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Successful application</h1>

        <p class="govuk-body">Your EPAO is now eligible to offer the standard {{ data['standard-name'] }}</p>

        {# <p class="govuk-body">Those questions contain the feedback required which should help you with your application.</p> #}

        {# <a href="/5-no-pass/feedback_overview" class="govuk-button">
          Continue to feedback overview
        </a> #}
    </div>
  </div>
{% endblock %}
