{% extends "layout.html" %}

{% block pageTitle %}
  Create an EPAO account
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "signin",
    text: "Back"
  }) }}

  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Confirm your identity</h1>
        <p class="govuk-body">We've sent a code to {{ data['email'] }}.</p>
        <form action="search-org" method="post" novalidate class="govuk-!-padding-bottom-3">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="enter-code">
              Enter code
            </label>
            <input class="govuk-input govuk-input--width-10" id="enter-code" name="enter-code" type="text" aria-describedby="enter-code-hint">
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
        <h2 class="govuk-heading-s">Not received an email?</h2>
        <p class="govuk-body">
          <form action="/send-setup-email" method="post" novalidate>
            <button type="submit" class="govuk-button govuk-link govuk-button--looks-like-link">Request another email</button>
          </form>
        </p>
      </div>
    </div>
{% endblock %}
