{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "/index",
    text: "Back"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/eligibility_find-organisation" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="eligibility-standard">
            Applying to become an EPAO to assess {{ data['eligibility-standard'] }}
          </label>
        </h1>

        <h2 class="govuk-heading-m">Before you apply</h2>

        <p class="govuk-body">To assess this standard you need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Company Registration Number/Charity Number</li>
          <li>UKPRN</li>
          <li>Full financial health statement</li>
          <li>Evidence of your occupational and assessment capacity</li>
          <li>Organisational information</li>
        </ul>

      </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
