{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "/url/of/previous/page",
    text: "Back"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/questions-overview" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="trading-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              When did your organisation start trading?
            </h1>
          </legend>
          <span id="trading-hint" class="govuk-hint">
          For example, 31 3 1980
        </span>
          <div class="govuk-date-input" id="trading">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="trading-day">
                Day
              </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="trading-day" name="trading-day" type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="trading-month">
                Month
              </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="trading-month" name="trading-month" type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="trading-year">
                Year
              </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="trading-year" name="trading-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why do you need to know this?
          </span>
        </summary>
        <div class="govuk-details__text">
          Organisations must have been trading for at least 3 months before being eligible to become an EPAO.
        </div>
      </details>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
