{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "/url/of/previous/page",
    text: "Back"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">When did your company start trading?</h1>
    <form action="/eligibility_start-trading" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
            <span id="dob-hint" class="govuk-hint">
            For example, 31 3 1980
          </span>
            <div class="govuk-date-input" id="dob">

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-day">
                  Day
                </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-month">
                  Month
                </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-year">
                  Year
                </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>


        </div>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why do you need to know this?
            </span>
          </summary>
          <div class="govuk-details__text">
            Lorem ipsum dolor sit amet.
          </div>
        </details>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
