{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "/url/of/previous/page",
    text: "Back"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in details</h1>
    <p>To enable you to return to your application later on we'll need to take some details from you.</p>
    <form action="/eligibility_find-company" method="post">
      <h2 class="govuk-heading-m">Email address</h2>
      <div class="govuk-form-group">
        <label class="govuk-label" for="driving-licence-number">
          For example, jsmith@epao.co.uk
        </label>
        <input class="govuk-input govuk-input--width-20" id="eligibility-standard" name="eligibility-standard" type="text">
      </div>

      <h2 class="govuk-heading-m">Mobile number</h2>
      <div class="govuk-form-group">
        <label class="govuk-label" for="driving-licence-number">
          This must be a UK-based number
        </label>
        <input class="govuk-input govuk-input--width-20" id="eligibility-standard" name="eligibility-standard" type="text">
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why do you need these, and which ones should you use?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If you don't complete your application in one sitting, we'll need an email address and mobile number to enable to you sign back in later.</p>
          <p>The email address and mobile number you give should be yours if you'll be answering questions in the application to become an EPAO. You can add more details later to allow other people to view and contribute to the application.</p>
        </div>
      </details>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
