{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "/url/of/previous/page",
    text: "Back"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Search for your company</h1>
    <form action="/eligibility_confirm-company" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="driving-licence-number">
          Start typing the name of your company
        </label>
        <input class="govuk-input govuk-input--width-20" id="eligibility-standard" name="eligibility-standard" type="text">
      </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
