{% extends "layout.html" %}

{% block pageTitle %}
  Research start page
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Thanks for helping out with our research</h1>

      <p class="govuk-body">Select the button below when the researcher asks you to.</p>

      <a href="start-page" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Start research
      </a>

    </div>

    <div class="govuk-grid-column-one-third">





    </div>
  </div>
</main>
</div>
{% endblock %}
