{% extends "layout.html" %}

{% block pageTitle %}
  Create an EPAO account
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Create an EPAO account</h1>

      <p class="govuk-body">You must provide:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a company name and company details that employers will see on the <a href="#" class="govuk-link">register of end-point assessment organisations</a></li>
        <li>your own details to create a login</li>
      </ul>

      <p class="govuk-body">It will take about 5 minutes to create your account.</p>

      <a href="eligibility_standard" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Start now
      </a>

      <h2 class="govuk-heading-m">You can use your EPAO account to:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply to become a registered end-point assessment organisation (EPAO)</li>
        <li>get accreditation to assess standards</li>
      </ul>

    </div>

    <div class="govuk-grid-column-one-third">





    </div>
  </div>
</main>
</div>
{% endblock %}
