{% extends "layout.html" %}

{% block pageTitle %}
  EPAO application questions
{% endblock %}

{% block beforeContent %}
  {% include 'includes/_phase-banner-alpha.html' %}
  {{ govukBackLink({
    href: "/url/of/previous/page",
    text: "Back"
  }) }}

{% endblock %}

{% block content %}
  <div class="grid-grid-row">
    <div class="govuk-grid-column-two-thirds app-column-minimum">

      <h1 class="govuk-heading-l">
        EPAO application
      </h1>
      <p>Complete all of the sections below before submitting your application to join the register of EPAOs.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Corporate information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
                Has your organisation been removed from any of the following registers?
              </a>
              {{ govukTag({
                attributes: { id: "eligibility-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Has your organisation received direction or sanctions from any of the following?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Has your organisation ever had to repay public money?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Is your organisation in any of the following? (insolvency, receivership, etc)
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Has any director or senior responsible person of your organisation been removed from the Charities Commission or appear on the Register of Removed Trustees?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Have any directors, shareholders, senior employees or someone that has powers of representation, decision or control of your organisation had any of the following?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Are any directors, or any other person who has powers of representation, decision or control of the organisation, in a state of or subject to such proceedings?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Has it been established that your organisation is in breach of obligations related to the payment of tax or social security contributions?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                From 1 April 2013 onwards, have any of your company’s tax returns submitted on or after 1 October 2012
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Does your organisation have an internal audit policy or process in place with regard to fraud and financial irregularity?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                It is a requirement that your organisation is registered with the Information Commissioner’s Office?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                It is a requirement your organisation has the appropriate insurance?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                The Prevent Agenda is a statutory duty, as an organisation are you aware of the policies and practices that you need to have in place to comply with the duty?
              </a>
              {{ govukTag({
                attributes: { id: "read-declaration-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Financial health assessment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="organisation-information-completed">
                organisation information
              </a>
              {{ govukTag({
                attributes: { id: "organisation-information-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Your contact details
              </a>
              {{ govukTag({
                attributes: { id: "contact-details-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                List convictions
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Provide financial evidence
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="medical-information-completed">
                Give medical information
              </a>
              {{ govukTag({
                attributes: { id: "medical-information-completed" },
                classes: "app-task-list__task-completed",
                text: "Completed"
              }) }}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Financial health management
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Submit and pay
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Organisation details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Submit and pay
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Capacity and capability
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Submit and pay
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Standard
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Submit and pay
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span> Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Declare and submit
              </a>
            </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="govuk-clearfix"></div>
  </div>
{% endblock %}
